# Unity specific
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Visual Studio
.vs/
*.csproj
*.sln
*.suo
*.tmp
*.vscode

# Git ignore pentru macOS și Windows
.DS_Store
Thumbs.db
